
header {
    width: 900px;   
}

#banner {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#pixarpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#content {
    /* align-items: center; */
    width: 900px;
    margin: auto;
    overflow: auto; 
}

#leftside {
    float: left;
    height: 500px;
    border: dotted;
    border-width: 3px;
    border-color: blue;
}

#rightside {
    float: left;
    height: 500px;
    border: dotted;
    border-width: 3px;
    border-color: blue
}

#pixarpic {
    clear: both;
    padding: 20px 20px 400px 20px;
}

#gamecontent {
    padding: 20px 30px 400px 40px;
}

#leftrightcontainer {
    margin-left: 12%;
}